@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap');

:root {
    /* Colors */
    --primary-color: #7EDAD2;
    --secondary-color: #424241;
    --third-color: #909090;
    --fourth-color: #FAFAFA;
    --fifth-color: #FFFFFF;

    /* Font sizes */
    --text-lg: 1.125rem;
    --text-2xl: 1.5rem;
    --text-4xl: 2.25rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-lg);
    font-weight: 400;
    max-height: 100vh;
    overflow-y: hidden; /* no scroll */
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1, h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 85%;
    margin: 0 auto;

    border: 2px solid red;
}

.hero-image {
    max-width: 100%;
}

.text__title {
    margin: 0;
    font-size: 3rem;
}

.text__title span {
    color: var(--primary-color);
}

.text__description {
    color: var(--third-color);
    margin-bottom: 2em;
}

.text__btn {
    background: var(--primary-color);
    color: var(--fifth-color);
    padding: .75em 1.5em;
    cursor: pointer;
}

.text__btn:hover {
    opacity: .75;
}



/* @media(max-width: 900px) {

} */

/* @media(width: 900px) { */

    /* body {
        overflow-y: scroll;
    }
     */
    /* .row {
       display: flex;
       justify-content: space-between;
       flex-direction: row-reverse;
    }

    .hero-image {
        max-width: 60%;
        z-index: -1;
    }

    .text {
        margin: 10em 0;
        width: 45%;
        position: absolute;
        left: 4.5em;
        border: 2px solid green;
    }

    .text__title {
        font-size: 8rem;
    }

    .text__description {
        width: 60%;
        margin-bottom: 3em;
    }

    
} */

@media(width > 1000px) {
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
     }
 
     .hero-image {
        max-width: 65%;
        z-index: -1;
     }
 
     .text {
        margin: 7em 0;
        width: 40%;
        position: absolute;
        left: 4em;
        border: 2px solid green;
     }
 
     .text__title {
        font-size: 5rem;
     }
 
     .text__description {
        width: 60%;
        margin-bottom: 3em;
     }
}